**Imports**

In [44]:
import xml.etree.ElementTree as et 
import pandas as pd 
import glob
from datetime import datetime
import re
import string

**Column Definitions**

In [4]:
df_cols = ['id','title', 'date', 'text','depressive']

**Positive Chunks to Dataframe**

In [25]:
t_id = ""
rows = []
directories = glob.glob("C:/Users/USER/Thesis/data/data/clef-erisk/positive_examples_anonymous_chunks/chunk[0-9]*")
for directory in directories:
    filenames = glob.glob(directory+"/train_subject[0-9]*_[0-9]*.xml")
    for filename in filenames:
        with open(filename, 'r', encoding="utf-8") as content:

            tree = et.parse(content)
            root = tree.getroot()
            for node in root:
                t_title = ""
                t_date = ""
                t_text = ""
                if node.tag == "ID":
                    t_id = node.text
                else:
                    if node.tag == "WRITING":
                        for val in node:
                            if val.tag == "TITLE":
                                if len(val.text) == 3 and val.text [1] == " ":
                                    t_title = None
                                else:
                                    t_title = val.text
                            elif val.tag == "DATE":
                                if len(val.text) == 3 and val.text [1] == " ":
                                    t_date = None
                                else:
                                    t_date = datetime.strptime(val.text, ' %Y-%m-%d %H:%M:%S ')
                            elif val.tag == "TEXT":
                                if len(val.text) == 3 and val.text [1] == " ":
                                    t_text = None
                                else:
                                    t_text = val.text
                    rows.append({'id':t_id, 'title':t_title, 'date':t_date, 'text':t_text, 'depressive':1})
positive_dataframe = pd.DataFrame(rows, columns = df_cols)
display(positive_dataframe)

,id,title,date,text,depressive
0,train_subject1095,None,2014-04-30 10:52:35,The last line is pretty much the same as the ...,1
1,train_subject1095,None,2014-04-30 10:25:52,On the flipside generic canned ravioli is jus...,1
2,train_subject1095,None,2014-04-30 10:23:26,At least make it illegal to perform on infant...,1
3,train_subject1095,None,2014-04-30 10:20:06,I feel like I am the only who has never seen ...,1
4,train_subject1095,None,2014-04-30 10:16:36,If anything it was an act of God for his chut...,1
...,...,...,...,...,...
30846,train_subject9951,None,2015-05-28 17:35:17,I watched a documentary on that and there was...,1
30847,train_subject9951,None,2015-05-27 22:14:51,Lucky you! Going to Hamburg would be my dream...,1
30848,train_subject9951,None,2015-05-27 21:06:11,Hannover! I took a [picture](https://40.media...,1
30849,train_subject9951,None,2015-05-27 20:51:25,Hey I live in Germany and I saw two horses ca...,1
30850,train_subject9951,None,2015-05-27 19:44:36,Thank you. Actually she tried giving me anoth...,1

**Negative Chunks to Dataframe**

In [26]:
t_id = ""
rows = []
directories = glob.glob("C:/Users/USER/Thesis/data/data/clef-erisk/negative_examples_anonymous_chunks/chunk[0-9]*")
for directory in directories:
    filenames = glob.glob(directory+"/train_subject[0-9]*_[0-9]*.xml")
    for filename in filenames:
        with open(filename, 'r', encoding="utf-8") as content:

            tree = et.parse(content)
            root = tree.getroot()
            for node in root:
                t_title = ""
                t_date = ""
                t_text = ""
                if node.tag == "ID":
                    t_id = node.text
                else:
                    if node.tag == "WRITING":
                        for val in node:
                            if val.tag == "TITLE":
                                if len(val.text) == 3 and val.text [1] == " ":
                                    t_title = None
                                else:
                                    t_title = val.text
                            elif val.tag == "DATE":
                                if len(val.text) == 3 and val.text [1] == " ":
                                    t_date = None
                                else:
                                    t_date = datetime.strptime(val.text, ' %Y-%m-%d %H:%M:%S ')
                            elif val.tag == "TEXT":
                                if len(val.text) == 3 and val.text [1] == " ":
                                    t_text = None
                                else:
                                    t_text = val.text
                    rows.append({'id':t_id, 'title':t_title, 'date':t_date, 'text':t_text, 'depressive':0})
negative_dataframe = pd.DataFrame(rows, columns = df_cols)
display(negative_dataframe)

,id,title,date,text,depressive
0,train_subject1015,Kripparrian on the deadliest cards of GvG so ...,2014-11-20 12:01:21,,0
1,train_subject1015,Bladestorm: Nightmare - sequel to 2007 game w...,2014-11-20 10:23:52,,0
2,train_subject1015,Plane that carries planes costs $250 million,2014-11-19 18:06:22,,0
3,train_subject1015,What assumption did you harbour for far too l...,2014-11-19 17:00:56,And what caused your head to asplode as a res...,0
4,train_subject1015,HTC One M8 Play Edition Android 5.0 update dr...,2014-11-19 13:43:39,,0
...,...,...,...,...,...
264167,train_subject9974,None,2015-04-02 16:52:44,"Yeah, I have known too many privates end up w...",0
264168,train_subject9974,None,2015-04-02 16:14:56,I am a soldier. I am regularly away from home...,0
264169,train_subject9974,ELI5:the button,2015-04-02 04:15:51,Please explain the button at /r/thebutton,0
264170,train_subject9974,None,2015-04-02 02:33:16,Stars and Stripes is reporting the same thing...,0
264171,train_subject9974,None,2015-03-31 19:26:05,Stranger danger; if they give you the gold th...,0

**Dataframes Concatenation**

In [31]:
frames = [positive_dataframe,negative_dataframe]
corpus = pd.concat(frames,ignore_index=True)
display(corpus)

,id,title,date,text,depressive
0,train_subject1095,None,2014-04-30 10:52:35,The last line is pretty much the same as the ...,1
1,train_subject1095,None,2014-04-30 10:25:52,On the flipside generic canned ravioli is jus...,1
2,train_subject1095,None,2014-04-30 10:23:26,At least make it illegal to perform on infant...,1
3,train_subject1095,None,2014-04-30 10:20:06,I feel like I am the only who has never seen ...,1
4,train_subject1095,None,2014-04-30 10:16:36,If anything it was an act of God for his chut...,1
...,...,...,...,...,...
295018,train_subject9974,None,2015-04-02 16:52:44,"Yeah, I have known too many privates end up w...",0
295019,train_subject9974,None,2015-04-02 16:14:56,I am a soldier. I am regularly away from home...,0
295020,train_subject9974,ELI5:the button,2015-04-02 04:15:51,Please explain the button at /r/thebutton,0
295021,train_subject9974,None,2015-04-02 02:33:16,Stars and Stripes is reporting the same thing...,0
295022,train_subject9974,None,2015-03-31 19:26:05,Stranger danger; if they give you the gold th...,0

**Null Checking**

In [36]:
corpus.isnull().sum()

id                 0
title         198720
date               0
text               2
depressive         0
dtype: int64

**Null Removing**

In [38]:
corpus.dropna(subset = ['text'], inplace=True)
corpus.isnull().sum()

id                 0
title         198718
date               0
text               0
depressive         0
dtype: int64

**Contraction Removing**

In [41]:
contractions_dict = { "ain't": "are not","'s":" is","aren't": "are not",
                     "can't": "cannot","can't've": "cannot have",
                     "'cause": "because","could've": "could have","couldn't": "could not",
                     "couldn't've": "could not have", "didn't": "did not","doesn't": "does not",
                     "don't": "do not","hadn't": "had not","hadn't've": "had not have",
                     "hasn't": "has not","haven't": "have not","he'd": "he would",
                     "he'd've": "he would have","he'll": "he will", "he'll've": "he will have",
                     "how'd": "how did","how'd'y": "how do you","how'll": "how will",
                     "I'd": "I would", "I'd've": "I would have","I'll": "I will",
                     "I'll've": "I will have","I'm": "I am","I've": "I have", "isn't": "is not",
                     "it'd": "it would","it'd've": "it would have","it'll": "it will",
                     "it'll've": "it will have", "let's": "let us","ma'am": "madam",
                     "mayn't": "may not","might've": "might have","mightn't": "might not", 
                     "mightn't've": "might not have","must've": "must have","mustn't": "must not",
                     "mustn't've": "must not have", "needn't": "need not",
                     "needn't've": "need not have","o'clock": "of the clock","oughtn't": "ought not",
                     "oughtn't've": "ought not have","shan't": "shall not","sha'n't": "shall not",
                     "shan't've": "shall not have","she'd": "she would","she'd've": "she would have",
                     "she'll": "she will", "she'll've": "she will have","should've": "should have",
                     "shouldn't": "should not", "shouldn't've": "should not have","so've": "so have",
                     "that'd": "that would","that'd've": "that would have", "there'd": "there would",
                     "there'd've": "there would have", "they'd": "they would",
                     "they'd've": "they would have","they'll": "they will",
                     "they'll've": "they will have", "they're": "they are","they've": "they have",
                     "to've": "to have","wasn't": "was not","we'd": "we would",
                     "we'd've": "we would have","we'll": "we will","we'll've": "we will have",
                     "we're": "we are","we've": "we have", "weren't": "were not","what'll": "what will",
                     "what'll've": "what will have","what're": "what are", "what've": "what have",
                     "when've": "when have","where'd": "where did", "where've": "where have",
                     "who'll": "who will","who'll've": "who will have","who've": "who have",
                     "why've": "why have","will've": "will have","won't": "will not",
                     "won't've": "will not have", "would've": "would have","wouldn't": "would not",
                     "wouldn't've": "would not have","y'all": "you all", "y'all'd": "you all would",
                     "y'all'd've": "you all would have","y'all're": "you all are",
                     "y'all've": "you all have", "you'd": "you would","you'd've": "you would have",
                     "you'll": "you will","you'll've": "you will have", "you're": "you are",
                     "you've": "you have"}

contractions_re=re.compile('(%s)' % '|'.join(contractions_dict.keys()))

def expand_contractions(text,contractions_dict=contractions_dict):
    def replace(match):
        return contractions_dict[match.group(0)]
    return contractions_re.sub(replace, text)


corpus['text']=corpus['text'].apply(lambda x:expand_contractions(x))

,id,title,date,text,depressive
0,train_subject1095,None,2014-04-30 10:52:35,The last line is pretty much the same as the ...,1
1,train_subject1095,None,2014-04-30 10:25:52,On the flipside generic canned ravioli is jus...,1
2,train_subject1095,None,2014-04-30 10:23:26,At least make it illegal to perform on infant...,1
3,train_subject1095,None,2014-04-30 10:20:06,I feel like I am the only who has never seen ...,1
4,train_subject1095,None,2014-04-30 10:16:36,If anything it was an act of God for his chut...,1
...,...,...,...,...,...
295018,train_subject9974,None,2015-04-02 16:52:44,"Yeah, I have known too many privates end up w...",0
295019,train_subject9974,None,2015-04-02 16:14:56,I am a soldier. I am regularly away from home...,0
295020,train_subject9974,ELI5:the button,2015-04-02 04:15:51,Please explain the button at /r/thebutton,0
295021,train_subject9974,None,2015-04-02 02:33:16,Stars and Stripes is reporting the same thing...,0
295022,train_subject9974,None,2015-03-31 19:26:05,Stranger danger; if they give you the gold th...,0

**Lowercasing, Digit, Punctuation and White Space Removing**

In [45]:
corpus['text']=corpus['text'].apply(lambda x: x.lower())
corpus['text']=corpus['text'].apply(lambda x: re.sub('\w*\d\w*','', x))
corpus['text']=corpus['text'].apply(lambda x: re.sub('[%s]' % re.escape(string.punctuation), '', x))
corpus['text']=corpus['text'].apply(lambda x: re.sub(' +',' ',x))