**Libraries**

In [1]:
import xml.etree.ElementTree as et 
import pandas as pd 
import glob
from datetime import datetime
import re
import string
import spacy
import matplotlib.pyplot as plt
import pandas as pd
import gensim
from tqdm.notebook import tqdm
import unicodedata
import spacy

In [2]:
tqdm.pandas()

**Column Definitions**

In [3]:
df_cols = ['id','title', 'date', 'text','depressive']

**Loading Data**

In [8]:
t_id = ""
rows = []
files = glob.glob("/home/mirza_abdullah_al_noman/Thesis/reddit-training-ready-to-share/positive_examples_anonymous/train_subject[0-9]*.xml")
for file in files:
    with open(file, 'r', encoding="utf-8") as content:
        tree = et.parse(content)
        root = tree.getroot()
        for node in root:
            t_title = ""
            t_date = ""
            t_text = ""
            if node.tag == "ID":
                t_id = node.text
            else:
                if node.tag == "WRITING":
                    for val in node:
                        if val.tag == "TITLE":
                            if len(val.text) == 3 and val.text [1] == " ":
                                t_title = None
                            else:
                                t_title = val.text
                        elif val.tag == "DATE":
                            if len(val.text) == 3 and val.text [1] == " ":
                                t_date = None
                            else:
                                t_date = datetime.strptime(val.text, ' %Y-%m-%d %H:%M:%S ')
                        elif val.tag == "TEXT":
                            if len(val.text) == 3 and val.text [1] == " ":
                                t_text = None
                            else:
                                t_text = val.text
                rows.append({'id':t_id, 'title':t_title, 'date':t_date, 'text':t_text, 'depressive':True})
positive_dataframe = pd.DataFrame(rows, columns = df_cols)
display(positive_dataframe)

,id,title,date,text,depressive
0,train_subject3125,None,2015-07-08 18:12:40,I have decided just to get him a trim on his ...,True
1,train_subject3125,Is this good or bad ?,2015-07-08 18:08:44,,True
2,train_subject3125,Hair cuts,2015-07-08 05:58:28,Should I get my handsome boys hair cut?\nDoes...,True
3,train_subject3125,None,2015-06-26 10:47:48,John Wilkes Woof,True
4,train_subject3125,None,2015-06-26 10:46:12,I'd watch him on that balcony... Didn't go so...,True
...,...,...,...,...,...
30846,train_subject8901,None,2015-07-01 18:50:26,What about the death of Joffrey Cuntface and ...,True
30847,train_subject8901,None,2015-07-01 18:40:09,I actually don't like her much,True
30848,train_subject8901,None,2015-07-01 17:56:46,The drug dealer neighbor that throws badass p...,True
30849,train_subject8901,Hydrocone any good?,2015-06-30 19:40:16,,True
30850,train_subject8901,Total n00b,2015-06-30 18:39:43,"Hey guys, I don't really know how this works...",True

In [10]:
t_id = ""
rows = []
files = glob.glob("/home/mirza_abdullah_al_noman/Thesis/reddit-training-ready-to-share/negative_examples_anonymous/train_subject[0-9]*.xml")
for file in files:
    with open(file, 'r', encoding="utf-8") as content:
        tree = et.parse(content)
        root = tree.getroot()
        for node in root:
            t_title = ""
            t_date = ""
            t_text = ""
            if node.tag == "ID":
                t_id = node.text
            else:
                if node.tag == "WRITING":
                    for val in node:
                        if val.tag == "TITLE":
                            if len(val.text) == 3 and val.text [1] == " ":
                                t_title = None
                            else:
                                t_title = val.text
                        elif val.tag == "DATE":
                            if len(val.text) == 3 and val.text [1] == " ":
                                t_date = None
                            else:
                                t_date = datetime.strptime(val.text, ' %Y-%m-%d %H:%M:%S ')
                        elif val.tag == "TEXT":
                            if len(val.text) == 3 and val.text [1] == " ":
                                t_text = None
                            else:
                                t_text = val.text
                rows.append({'id':t_id, 'title':t_title, 'date':t_date, 'text':t_text, 'depressive':False})
negative_dataframe = pd.DataFrame(rows, columns = df_cols)
display(negative_dataframe)

,id,title,date,text,depressive
0,train_subject7851,None,2015-07-22 12:35:42,X1 for 300 can be often found on sale. Amazon...,False
1,train_subject7851,None,2015-07-22 10:43:28,I travel about 175-225 days a year for work w...,False
2,train_subject7851,None,2015-07-22 09:52:42,Sounds like my perfect flatmate.,False
3,train_subject7851,I'm not sure what all the fuss about Donald T...,2015-07-22 09:32:34,,False
4,train_subject7851,None,2015-07-22 09:23:50,On that note. Many starting keto people don't...,False
...,...,...,...,...,...
264167,train_subject475,None,2014-07-18 09:18:15,Yep. Super annoying. I stopped handing them o...,False
264168,train_subject475,None,2014-07-16 20:11:32,One time I had a customer who loaded up her e...,False
264169,train_subject475,None,2014-07-13 04:30:10,"Yep. Whenever a customer says ""Hey you should...",False
264170,train_subject475,None,2014-07-13 04:18:06,32 cent raise.,False
264171,train_subject475,None,2014-07-09 23:21:21,"I only get points from my GM, and I won some ...",False

In [11]:
frames = [positive_dataframe,negative_dataframe]
corpus = pd.concat(frames,ignore_index=True)
display(corpus)

,id,title,date,text,depressive
0,train_subject3125,None,2015-07-08 18:12:40,I have decided just to get him a trim on his ...,True
1,train_subject3125,Is this good or bad ?,2015-07-08 18:08:44,,True
2,train_subject3125,Hair cuts,2015-07-08 05:58:28,Should I get my handsome boys hair cut?\nDoes...,True
3,train_subject3125,None,2015-06-26 10:47:48,John Wilkes Woof,True
4,train_subject3125,None,2015-06-26 10:46:12,I'd watch him on that balcony... Didn't go so...,True
...,...,...,...,...,...
295018,train_subject475,None,2014-07-18 09:18:15,Yep. Super annoying. I stopped handing them o...,False
295019,train_subject475,None,2014-07-16 20:11:32,One time I had a customer who loaded up her e...,False
295020,train_subject475,None,2014-07-13 04:30:10,"Yep. Whenever a customer says ""Hey you should...",False
295021,train_subject475,None,2014-07-13 04:18:06,32 cent raise.,False
295022,train_subject475,None,2014-07-09 23:21:21,"I only get points from my GM, and I won some ...",False

**Null Checking and Removal**

In [12]:
corpus.isnull().sum()

id                 0
title         198720
date               0
text               2
depressive         0
dtype: int64

In [13]:
corpus.dropna(subset = ['text'], inplace=True)
corpus.isnull().sum()

id                 0
title         198718
date               0
text               0
depressive         0
dtype: int64

**Contraction Removal**

In [16]:
CONTRACTION_MAP = {
"ain't": "is not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how is",
"I'd": "I would",
"I'd've": "I would have",
"I'll": "I will",
"I'll've": "I will have",
"I'm": "I am",
"I've": "I have",
"i'd": "i would",
"i'd've": "i would have",
"i'll": "i will",
"i'll've": "i will have",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she would",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as",
"that'd": "that would",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there would",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they would",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what'll've": "what will have",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"when's": "when is",
"when've": "when have",
"where'd": "where did",
"where's": "where is",
"where've": "where have",
"who'll": "who will",
"who'll've": "who will have",
"who's": "who is",
"who've": "who have",
"why's": "why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you would",
"you'd've": "you would have",
"you'll": "you will",
"you'll've": "you will have",
"you're": "you are",
"you've": "you have"
}
def expand_contractions(text, contraction_mapping=CONTRACTION_MAP):
    
    contractions_pattern = re.compile('({})'.format('|'.join(contraction_mapping.keys())), 
                                      flags=re.IGNORECASE|re.DOTALL)
    def expand_match(contraction):
        match = contraction.group(0)
        first_char = match[0]
        expanded_contraction = contraction_mapping.get(match)\
                                if contraction_mapping.get(match)\
                                else contraction_mapping.get(match.lower())                       
        expanded_contraction = first_char+expanded_contraction[1:]
        return expanded_contraction
        
    expanded_text = contractions_pattern.sub(expand_match, text)
    expanded_text = re.sub("'", "", expanded_text)
    return expanded_text

In [17]:
corpus['text']=corpus['text'].progress_apply(lambda x:expand_contractions(x))

  0%|          | 0/295021 [00:00<?, ?it/s]

In [19]:
def remove_url_func(text):
    return re.sub(r'https?://\S+|www\.\S+', '', text)

In [22]:
def remove_accented_chars_func(text):
    return unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')

In [25]:
def remove_punctuation_func(text):
    return re.sub(r'[^a-zA-Z0-9]', ' ', text)

In [26]:
def remove_irr_char_func(text):
    return re.sub(r'[^a-zA-Z]', ' ', text)

In [27]:
def remove_extra_whitespaces_func(text):
    return re.sub(r'^\s*|\s\s*', ' ', text).strip()

In [18]:
corpus['text']=corpus['text'].progress_apply(lambda x: x.lower())

  0%|          | 0/295021 [00:00<?, ?it/s]

In [20]:
corpus['text']=corpus['text'].progress_apply(lambda x:remove_url_func(x))

  0%|          | 0/295021 [00:00<?, ?it/s]

In [23]:
corpus['text']=corpus['text'].progress_apply(lambda x:remove_accented_chars_func(x))

  0%|          | 0/295021 [00:00<?, ?it/s]

In [64]:
corpus['text']=corpus['text'].progress_apply(lambda x:remove_punctuation_func(x))

  0%|          | 0/236425 [00:00<?, ?it/s]

In [65]:
corpus['text']=corpus['text'].progress_apply(lambda x:remove_irr_char_func(x))

  0%|          | 0/236425 [00:00<?, ?it/s]

In [28]:
corpus['text']=corpus['text'].progress_apply(lambda x:remove_extra_whitespaces_func(x))

  0%|          | 0/295021 [00:00<?, ?it/s]

In [67]:
nlp = spacy.load('en_core_web_lg',disable=['parser', 'ner'])

In [68]:
corpus['lemmatized']=corpus['text'].progress_apply(lambda x: ' '.join([token.lemma_ for token in list(nlp(x)) if (token.is_stop==False)]))

  0%|          | 0/236425 [00:00<?, ?it/s]

In [69]:
corpus.to_csv("cleaned_test_data_lemmatized.csv")

In [32]:
corpus.isnull().sum()

id                 0
title         198718
date               0
text               0
depressive         0
dtype: int64

In [30]:
corpus.to_csv("training_data.csv", index = False)

In [34]:
corpus = pd.read_csv("training_data.csv")

In [35]:
corpus.isnull().sum()

id                 0
title         198718
date               0
text           85735
depressive         0
dtype: int64